@charset "UTF-8";
/* line 14, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, C:/Ruby187/lib/ruby/gems/1.8/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 6, ../src/screen.scss */
html body {
  font-family: "Cantarell", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  background-color: #adf;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  font-weight: 300;
  line-height: 1.5;
  font-size: 14px;
}

/* line 16, ../src/screen.scss */
#container {
  width: 820px;
  margin: 0 auto;
}

/* line 21, ../src/screen.scss */
h1 {
  font-size: 2.5em;
  font-weight: 300;
  margin-bottom: 15px;
  text-shadow: 1px 1px 0 white;
}

/* line 28, ../src/screen.scss */
h2 {
  font-size: 2em;
  font-weight: 300;
}

/* line 33, ../src/screen.scss */
h3 {
  font-size: 1.8em;
  font-weight: normal;
}
/* line 37, ../src/screen.scss */
h3 span {
  font-size: 17px !important;
  color: #888888 !important;
}

/* line 44, ../src/screen.scss */
a {
  color: #09c;
  text-decoration: none;
}
/* line 47, ../src/screen.scss */
a:hover {
  text-decoration: underline;
}

/* line 52, ../src/screen.scss */
#header {
  display: block;
  padding-top: 20px;
}

/* line 57, ../src/screen.scss */
#logo {
  display: inline-block;
}

/* line 61, ../src/screen.scss */
div.nav {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  display: inline-block;
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
  font-weight: 600;
}
/* line 69, ../src/screen.scss */
div.nav ul {
  margin: 0;
  padding: 0;
}
/* line 73, ../src/screen.scss */
div.nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0.2em;
}
/* line 78, ../src/screen.scss */
div.nav ul li a {
  padding: 5px 5px;
}
/* line 81, ../src/screen.scss */
div.nav ul li a:visited {
  color: #09c;
}
/* line 84, ../src/screen.scss */
div.nav ul li a:hover {
  text-decoration: underline;
}

/* line 91, ../src/screen.scss */
div.nav.right {
  float: right;
}

/* line 94, ../src/screen.scss */
div.nav.left {
  float: left;
}

/* line 97, ../src/screen.scss */
#content {
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #e5e3d2), color-stop(100%, #ffffff));
  background-image: -moz-linear-gradient(top, #e5e3d2 0%, #ffffff 100%);
  background-image: linear-gradient(top, #e5e3d2 0%, #ffffff 100%);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background-color: #E5E3D2;
  display: block;
  margin-bottom: 1em;
  margin-top: 2em;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  vertical-align: baseline;
}

/* line 113, ../src/screen.scss */
#footer {
  text-align: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

/* line 121, ../src/screen.scss */
div.field label {
  font-size: 1.4em;
  line-height: 1.8em;
  font-weight: 500;
  width: 25%;
  float: left;
  clear: left;
  text-align: left;
  white-space: nowrap;
  min-width: 5em;
}
/* line 132, ../src/screen.scss */
div.field input {
  font-family: "Cantarell", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
  font-size: 1.1em;
  font-weight: 500;
  width: 250px;
  padding: 3px 5px;
  border: inset 1px #CCC;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}
/* line 140, ../src/screen.scss */
div.field input:focus {
  background: #feffb7;
}

/* line 147, ../src/screen.scss */
.info, .success, .warning, .error, .validation {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid;
  margin: 10px 0px;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 70px;
  list-style: circle;
}

/* line 157, ../src/screen.scss */
.info {
  color: #00529B;
  background-color: #BDE5F8;
  background-image: url("/images/info.png");
}

/* line 162, ../src/screen.scss */
.success {
  color: #4F8A10;
  background-color: #DFF2BF;
  background-image: url("/images/success.png");
}

/* line 167, ../src/screen.scss */
.warning {
  color: #9F6000;
  background-color: #FEEFB3;
  background-image: url("/images/warning.png");
}

/* line 172, ../src/screen.scss */
.error {
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url("/images/error.png");
}

/* line 177, ../src/screen.scss */
.validation {
  color: #D63301;
  background-color: #FFCCBA;
  background-image: url("/images/validation.png");
}

/* line 218, ../src/screen.scss */
.signup_button {
  color: #fef4e9;
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-weight: 900;
  font-size: 2em;
  line-height: 1;
  letter-spacing: 0.6px !important;
  padding: 9px 26px 9.2px;
  margin: 15px 15px;
  text-shadow: rgba(0, 0, 0, 0.3) 3 3 1;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px 0;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px 0;
  border: solid 1px #da7c0c;
  background: #f78d1d;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #faa51a), color-stop(100%, #f47a20));
  background-image: -moz-linear-gradient(top, #faa51a 0%, #f47a20 100%);
  background-image: linear-gradient(top, #faa51a 0%, #f47a20 100%);
}
/* line 204, ../src/screen.scss */
.signup_button:hover {
  text-decoration: none;
  background: #f47c20;
  color: #fef4e9;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #f88e11), color-stop(100%, #f06015));
  background-image: -moz-linear-gradient(top, #f88e11 0%, #f06015 100%);
  background-image: linear-gradient(top, #f88e11 0%, #f06015 100%);
}
/* line 210, ../src/screen.scss */
.signup_button:active {
  position: relative;
  top: 1px;
  color: #fcd3a5;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #f47a20), color-stop(100%, #faa51a));
  background-image: -moz-linear-gradient(top, #f47a20 0%, #faa51a 100%);
  background-image: linear-gradient(top, #f47a20 0%, #faa51a 100%);
}

/* line 222, ../src/screen.scss */
.signin_button {
  color: #fef4e9;
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-weight: 900;
  font-size: 2em;
  line-height: 1;
  letter-spacing: 0.6px !important;
  padding: 9px 26px 9.2px;
  margin: 15px 15px;
  text-shadow: rgba(0, 0, 0, 0.3) 3 3 1;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px 0;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px 0;
  border: solid 1px #da7c0c;
  background: #f78d1d;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #faa51a), color-stop(100%, #f47a20));
  background-image: -moz-linear-gradient(top, #faa51a 0%, #f47a20 100%);
  background-image: linear-gradient(top, #faa51a 0%, #f47a20 100%);
  font-size: 1.2em;
  margin-left: 150px;
}
/* line 204, ../src/screen.scss */
.signin_button:hover {
  text-decoration: none;
  background: #f47c20;
  color: #fef4e9;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #f88e11), color-stop(100%, #f06015));
  background-image: -moz-linear-gradient(top, #f88e11 0%, #f06015 100%);
  background-image: linear-gradient(top, #f88e11 0%, #f06015 100%);
}
/* line 210, ../src/screen.scss */
.signin_button:active {
  position: relative;
  top: 1px;
  color: #fcd3a5;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #f47a20), color-stop(100%, #faa51a));
  background-image: -moz-linear-gradient(top, #f47a20 0%, #faa51a 100%);
  background-image: linear-gradient(top, #f47a20 0%, #faa51a 100%);
}

/* line 228, ../src/screen.scss */
.download_button {
  color: #fef4e9;
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-weight: 900;
  font-size: 2em;
  line-height: 1;
  letter-spacing: 0.6px !important;
  padding: 9px 26px 9.2px;
  margin: 15px 15px;
  text-shadow: rgba(0, 0, 0, 0.3) 3 3 1;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px 0;
  -o-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px 0;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 3px 0;
  border: solid 1px #da7c0c;
  background: #f78d1d;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #faa51a), color-stop(100%, #f47a20));
  background-image: -moz-linear-gradient(top, #faa51a 0%, #f47a20 100%);
  background-image: linear-gradient(top, #faa51a 0%, #f47a20 100%);
  font-size: 1.2em;
}
/* line 204, ../src/screen.scss */
.download_button:hover {
  text-decoration: none;
  background: #f47c20;
  color: #fef4e9;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #f88e11), color-stop(100%, #f06015));
  background-image: -moz-linear-gradient(top, #f88e11 0%, #f06015 100%);
  background-image: linear-gradient(top, #f88e11 0%, #f06015 100%);
}
/* line 210, ../src/screen.scss */
.download_button:active {
  position: relative;
  top: 1px;
  color: #fcd3a5;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, #f47a20), color-stop(100%, #faa51a));
  background-image: -moz-linear-gradient(top, #f47a20 0%, #faa51a 100%);
  background-image: linear-gradient(top, #f47a20 0%, #faa51a 100%);
}

/* line 233, ../src/screen.scss */
div.gravatar {
  border: 1px solid #E5DECC;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  color: #444;
  display: block;
  padding: 10px;
  width: 270px;
  margin-bottom: 10px;
  overflow: auto;
}
/* line 243, ../src/screen.scss */
div.gravatar img {
  float: left;
  padding: 2px;
}
/* line 248, ../src/screen.scss */
div.gravatar p {
  float: right;
  width: 200px;
}
/* line 252, ../src/screen.scss */
div.gravatar small {
  font-size: 0.9em;
}

/* line 257, ../src/screen.scss */
div#downloads {
  display: inline-block;
  padding: 0 0.7em;
  white-space: nowrap;
}
/* line 262, ../src/screen.scss */
div#downloads ul {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background-color: #adf;
  margin: 10px;
  padding: 3px;
  width: 750px;
}
/* line 269, ../src/screen.scss */
div#downloads ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0.2em;
}
/* line 277, ../src/screen.scss */
div#downloads ul li a:visited {
  color: #09c;
}
/* line 280, ../src/screen.scss */
div#downloads ul li a:hover {
  text-decoration: underline;
}
/* line 285, ../src/screen.scss */
div#downloads ul span {
  margin-left: 15px;
  font-weight: 600;
}
/* line 289, ../src/screen.scss */
div#downloads ul li.file {
  width: 35%;
}
/* line 292, ../src/screen.scss */
div#downloads ul li.size {
  width: 15%;
}
/* line 298, ../src/screen.scss */
div#downloads ul li.source {
  font-size: 0.7em;
}
/* line 301, ../src/screen.scss */
div#downloads ul li.remove {
  float: right;
  text-align: right;
}
/* line 304, ../src/screen.scss */
div#downloads ul li.remove img {
  cursor: pointer;
  padding-right: 5px;
  vertical-align: text-top;
}
