nav#round
    ul
      li [About](/about)
      li [Contact](/contact)
      li [Blog](/blog)
        
//<nav class="round">
//<ul>
  //<li><a href="/about">About</a></li>
  //<li><a href="/contact">Contact</a></li>
  //<li><a href="http://">News</a></li>
//</ul>
//</nav>
