div#logo
  a(href='/')
    img(src='/images/logo.png')
div.nav.right
  ul
    li
      a(href='/') Home
    - if (signedIn)
      li 
        a(href='/downloads') My Downloads
      li 
        a(href='/user') Settings
    li 
      a(href='/help' ) Help
    - if (signedIn)
      li 
        a(href='/session/end', onClick="return confirm('Are you sure you want to sign out?')" ) Sign Out
    - else
      li 
        a(href='/session/new') Sign In        
