div#logo
  a(href='/')
    img(src='/images/logo.png')
div.nav.right
  ul
    li
      a(href='/') Home
    - if (signedIn)
      li 
        a(href='/downloads') My Downloads
      li 
        a(href='#') Settings
    li 
      a(href='/help' ) Help
    - if (signedIn)
      li 
        //a(href='/session/kill') Sign Out
        a(href='#', onClick="if(confirm('Are you sure you want to sign out?')) {location='/session/kill'}; return false") Sign Out
    - else
      li 
        a(href='/session/new') Sign In
