nav#round
    ul
      li [Home](/)
      - if (signedIn)
        li [My downloads](/downloads)
        li [Profile](/profile)
        li [Settings](/settings)
      li [Help](/help)
      - if (signedIn)
        li [Sign out](/signout)
      - else
        li [Sign in](/signin)

//<!--<a href="/">LOGO</a>-->
//<nav class="round">
//<ul>
    //<li><a href="/">Home</a></li>
    //<% if (signedIn) { %>
        //<li><a href="/users">Users</a></li>
        //<li><a href="/user/?">Profile</a></li>
    //<% } %>
    //<li><a href="/help">Help</a></li>
    //<% if (signedIn) { %>
        //<li><a href="/signout">Sign out</a></li>
    //<% } else { %>
        //<li><a href="/signin">Sign in</a></li>
    //<% } %>
//</ul>
//</nav>
