img(src='/img/logo.png')
nav.round
  ul
    a(href='/') Home
      - if (signedIn)
        li 
          a(href='/downloads') My Downloads
        li 
          a(href='/profile') My Profile
        li 
          a(href='/settings') Settings
      li 
        a(href='/help' ) Help
      - if (signedIn)
        li 
          a(href='/signout') Sign Out
      - else
        li 
          a(href='/signin') Sign In
