div#logo
  a(href='/')
    img(src='/img/logo.png')
div.nav.right.round
  ul
    li
      a(href='/') Home
    - if (signedIn)
      li 
        a(href='/downloads') My Downloads
      li 
        a(href='/settings') Settings
    li 
      a(href='/help' ) Help
    - if (signedIn)
      li 
        a(href='/signout') Sign Out
    - else
      li 
        a(href='/signin') Sign In
