form(method="post", action="/submitDownload")
  fieldset
    p Enter the file you want to download:
    div.field 
      label(for="download") Download link:
      br
      input(type="text", name='download', size=60)
    div.action
      input(type="submit", value="Download")
