- if (hasMessages)
    - types.forEach(function(type){
        div.flash.=type
            - type.forEach(function(msg){
                msg
            - })
    - })


        
//<% if (hasMessages) { %>
//<% for (var type in types) { %>
    //<div class="flash <%= type %>">
        //<% types[type].forEach(function(msg){ %>
        //<%= msg %>
        //<% }) %>
    //<% } %>
    //</div>
//<% } %>
