div.field 
  label(for="user[email]") Email:
  input(type="text", name='user[email]', value=user.email || '')
div.field
  label(for="user[password]") Password:
  input(type="password", name='user[password]', value=user.password || '')
