h1 File Downloader

form(method="post", action="/")

  p Type in the URL of the file you want to download:

    fieldset
      legend Enter file:
      p
        label(for="URL") URL:
        input(type="text", name="URL")

      p.buttons
        input(type="submit", value="Download")
