h1 Web Downloader
form(method="post", action="/")
  fieldset
    p Enter the file you want to download:
    p 
      label(for="URL") URL:
        input(type="text", name='download', size=40)
    p
      label(for="email") Email:
        input(type="text", name='email', size=30)
    input(type="submit", value="Download")
!{flashMessages}
