h1 Web Downloader
form(method="post", action="/")
    fieldset
        p Type in the URL of the file you want to download:
        input(type="text", name="URL", size=40)
        input(type="submit", value="Download")
        = messages()


//<h1>Web Downloader</h1>
//<form method="post", Action="/">
    //<fieldset>
        //<p>Type in the URL of the file you want to download:</p>
        //<input type="text" size=40 name="URL">
        //<input type="submit" name="Download" value="Download">
        //<%- messages() %>
    //</fieldset>
//</form>
