!!! 5
html
  head
    title DownloadIt4.me
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
    meta(name="description", content="Web Downloader")
    meta(name="keywords", content="download remote")
    meta(name="robots", content="noodp,noydir") 
    meta(name="copyright", content="Copyright 2010 to Present")
    //link(rel="stylesheet", href="/css/style.css", type="text/css", media="screen, projection")
    //link(rel: "stylesheet", href: "/css/blueprint/screen.css")
    //link(rel="alternate", type="application/rss+xml", title="RSS", href="http://site/rss.xml")
    //script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js", type="text/javascript")
    script(src="/javascripts/jquery-1.5.min.js", type="text/javascript")
    link(href="/stylesheets/screen.css", media="screen, projection", rel="stylesheet", type="text/css")
    //link(href="/stylesheets/print.css", media="print", rel="stylesheet", type="text/css")
  
    //// Place favicon.ico and apple-touch-icon.png in the root of your domain and delete these references
    link(rel: "shortcut icon", href: "/favicon.ico")
    link(rel: "apple-touch-icon", href: "/apple-touch-icon.png")
    //link(href='http://fonts.googleapis.com/css?family=Cantarell', rel='stylesheet', type='text/css')

  body
    div#container
      div#header
        !=partial('_header')
      div#content
        !{messages()}
        != body
      div#footer
        !=partial('_footer')
    //script(type='text/javascript', src='/javascripts/application.js')
