h2 Sign in
br
form(method="post", action="/signin")
  fieldset
    div.field 
      label(for="username") Username:
      input(type="text", name='username')
    div.field
      label(for="password") Password:
      input(type="password", name='password')
    div.actions
      input(type="submit", value="Sign in").submit_button
