h1 Sign in
form(method="post", action="/signin")
  fieldset.round
    div.field 
      label(for="username") Username:
      input(type="text", name='username', size=25)
    div.field
      label(for="password") Password:
      input(type="password", name='password', size=25)
    div.actions
      input(type="submit", value="Sign in").submit_login
