h2 Register
form(method='post', action='/user')
  input(type='hidden', name='_csrf', value=token)
  !=partial('user_fields', { locals: { user: user } })
  div.actions
    input(type="submit", value="Sign Up").signin_button
    span \ or 
    a(href='/session/new') Sign In
