form(method="post", action="/downloads")
  input(type='hidden', name='_csrf', value=token)
  p Enter the file you want to download:
  div.field 
    label(for="url") Download link:
    input(type="text", name='url', size=50)
  div.action
    input(type="submit", value="Download").download_button
