@import "compass/reset";
@import "compass";

$font-family: 'Century Gothic', 'Helvetica Neue', 'Helvetica', 'Arial', 'sans-serif';

html body {
    font-family: $font-family;
    background-color: #adf;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
    font-weight: 300;
    line-height: 1.5;
    font-size: 14px;
}

#container {
    width: 820px;
    margin: 0 auto;
}

h1 {
    font-size: 2.5em;
    font-weight: 300;
    margin-bottom: 15px;
    text-shadow: 1px 1px 0 white;
}

h2 {
    font-size: 2em;
    font-weight: 300;
}

h3 {
    font-size: 1.8em;
    font-weight: normal;

    span {
        font-size: 17px !important;
        color: #888888 !important;
    }
}


a {
    color: #09c;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

#header {
    width: 100%;
    height: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#logo-block {
    float: left;
}

#logo {
    margin: 0px;
    width: 169px;
    height: 70px;
    text-indent: -9999px;
    display: block;
    background: transparent url(/images/logo.png) no-repeat;
}

#nav {
    @include border-radius(10px);
    display: inline-block;
    background-color: white;
    padding: 0 0.7em;
    white-space: nowrap;
    font-weight: 600;
    ul {
        margin: 0;
        padding: 0;

        li {
            list-style-type: none;
            display: inline-block;
            padding: 0.2em 0.2em;

            a {
                padding: 5px 5px;

                &:visited {
                    color: #09c;
                }
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
<<<<<<< HEAD
div.nav.right {
    display: inline;
=======
.right {
>>>>>>> ae0e6d38fbca69c4a8021afd03668d703e6e4714
    float: right;
}
.left {
    float: left;
}
#content {
    @include linear-gradient(color-stops(#E5E3D2, white));
    @include border-radius(10px);
    @include box-shadow(#908E86, 2px, 2px, 10px);
    background-color: #E5E3D2;
    display: block;
    //font-size: 120%;
    //font-weight: 300;
    margin-bottom: 1em;
    margin-top: 2em;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    vertical-align: baseline;
}

#footer {
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

div.field {
    label {
        font-size: 1.4em;
        line-height: 1.8em;
        font-weight: 500;
        width: 25%;
        float: left;
        clear: left;
        text-align: left;
        white-space: nowrap;
        min-width: 5em;
    }
    input {
        font-family: $font-family;
        font-size: 1.1em;
        font-weight: 500;
        width: 250px;
        padding: 3px 5px;
        border: inset 1px #CCC;
        @include border-radius(2px);
        &:focus {
            background: #feffb7;
        }
    }
}


.info, .success, .warning, .error, .validation {
    @include border-radius(5px);
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 70px;
    list-style: circle;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('/images/info.png');
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('/images/success.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('/images/warning.png');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('/images/error.png');
}
.validation {
    color: #D63301;
    background-color: #FFCCBA;
    background-image: url('/images/validation.png');
}


@mixin button {
    color: #fef4e9;
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-weight: 900;
    font-size: 2em;
    line-height: 1;
    letter-spacing: 0.6px !important;
    padding: 9px 26px 9.2px;
    margin: 15px 15px;
    @include text-shadow(rgba(0,0,0,.3), 3, 3, 1);
    @include border-radius(10px);
    @include box-shadow(rgba(0, 0, 0, 0.4), 0px, 1px, 3px);
    border: solid 1px #da7c0c;
    background: #f78d1d;
    @include linear-gradient(color-stops(#faa51a, #f47a20));

    &:hover {
        text-decoration: none;
        background: #f47c20;
        color: #fef4e9;
        @include linear-gradient(color-stops(#f88e11, #f06015));
    }
    &:active {
        position: relative;
        top: 1px;
        color: #fcd3a5;
        @include linear-gradient(color-stops(#f47a20, #faa51a));
    }
}

.signup_button {
    @include button;
}

.signin_button {
    @include button;
    font-size: 1.2em;
    margin-left: 150px;

}
.download_button {
    @include button;
    font-size: 1.2em;
}

div.gravatar {
    border: 1px solid #E5DECC;
    @include border-radius(4px);
    color: #444;
    display: block;
    padding: 10px;
    width: 270px;
    margin-bottom: 10px;
    overflow: auto;

    img {
        float: left;
        padding: 2px;
    }

    p {
        float: right;
        width: 200px;
    }
    small {
        font-size: 0.9em;
    }
}

div#downloads {
    display: inline-block;
    padding: 0 0.7em;
    white-space: nowrap;

    ul {
        @include border-radius(10px);
        background-color: #adf;
        margin: 10px;
        padding: 3px;
        width: 750px;

        li {
            list-style-type: none;
            display: inline-block;
            padding: 0.2em 0.2em;

            a {
                //padding: 5px 5px;

                &:visited {
                    color: #09c;
                }
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        span {
            margin-left: 15px;
            font-weight: 600;
        }
        li.file {
            width: 35%;
        }
        li.size {
            width: 15%;
        }
        li.date {

        }
        li.source {
            font-size: 0.7em;
        }
        li.remove {
            float: right;
            text-align: right;
            img {
                cursor: pointer;
                padding-right: 5px;
                vertical-align: text-top;
            }
        }
    }
}

